header {
    background-image: url("/banner.jpg");
    background-repeat: no-repeat;
    background-size:100%; /* Ajuste l'image pour couvrir toute la zone */
    background-position: center bottom;
    height: 29rem; /* Augmente la hauteur si besoin */

}